body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ecranjeu {
  display: none; /* Le menu est initialement caché */
  position: relative;
}

#myCanvas {
  border: 1px solid black;
  text-align: center;
  width: 500px;
  height: 500px;
}

#score {
  border: 1px solid black;
  padding: 1vw;
  text-align: left;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 20%;
  max-width: 200px;
}

#menuJeu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#menuPrincipal {
  background-color: aqua;
}

#toggleMenuButton {
  position: absolute;
  bottom: 50%;
  width : 8%;
  height : 11%;
}

#toggleMenuButton img{
  width : 60%;
  height : 100%;
}

#modeVitesse {
  position: absolute;
  left : 37%;
  margin-bottom: 2%;
}

#modeInversion {
  position: absolute;
  left : 37%;
  margin-top: 2%; /* Pour espacer les boutons de mode */
}

p {
  position: absolute;
  bottom: 70%;
}

.bouton-active {
  box-shadow: 0 0 10px yellow; /* Ombre jaune */
}

