
.snake{
  #playButton {
    margin-left : 500px;
  }

  #ecranjeu {
    display: none; /* Le menu est initialement caché */
    position: relative;
    height : 100%;
    width : 100%;
    margin : auto;
  }

  #ecranGameOver {
    display: none; /* Le menu est initialement caché */
    top : 25%;
    left : 30%;
    width : 40%;
    height : 50%;
    position: absolute;
    background-color: palevioletred;
  }

  .blur {
    filter: blur(5px); /* Ajustez la quantité de flou selon vos préférences */
  }

  #myCanvas {
    border: 1px solid black;
    background-color: green;
    display: block;
    margin: 0 auto; /* Pour centrer horizontalement */
    aspect-ratio: 1; /* Conserver un rapport d'aspect carré */
    width: 80%; /* Ajuster la taille en fonction de la largeur disponible */
    height: 100%; /* Ajuster la taille en fonction de la hauteur de la fenêtre du navigateur */
}


  #score {
    border: 1px solid black;
    padding: 1vw;
    text-align: left;
    position: absolute;
    top: 5%;
    right: 0;
    height: auto;
    width: 10%;
  }

  #menuJeu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  #menuPrincipal {
    background: linear-gradient(to bottom, cyan 60%, green 40%);
    width : 75%;
    height : 100%;
    border-radius : 10%;
  }

  #toggleMenuButton {
    border-radius : 50%;
    padding : 20px;
    position: absolute;
    width: 10%; /* Ajuste la largeur selon tes besoins */
    height: 13%; /* Ajuste la hauteur automatiquement pour garder les proportions */
    cursor: pointer;
    top: 30%;
    left: 45%;
  }

  #boutonReset {
    position: absolute;
    border-radius : 30%;
    top : 80%;
    left : 33%;
    width : 35%;
    height: 15%;
  }

  #boutonReset p {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase;
  }

  #toggleMenuButton img {
    width : 100%;
    height : 100%;
  }

#modeVitesse,
#modeInversion,
#modeMiamFast,
#modeSerpentLent {
    position: absolute;
    width: 5%; /* Ajuste la largeur selon tes besoins */
    height: 5%; /* Ajuste la hauteur automatiquement pour garder les proportions */
    cursor: pointer;
}

#modeVitesse {
    top: 40%; /* Ajuste la position verticale en pourcentage */
    left: 20%; /* Ajuste la position horizontale en pourcentage */
}

#modeInversion {
    top: 47%; /* Ajuste la position verticale en pourcentage */
    left: 20%; /* Ajuste la position horizontale en pourcentage */
}

#modeMiamFast {
    top: 54%; /* Ajuste la position verticale en pourcentage */
    left: 20%; /* Ajuste la position horizontale en pourcentage */
}

#modeSerpentLent {
    top: 33%; /* Ajuste la position verticale en pourcentage */
    left: 20%; /* Ajuste la position horizontale en pourcentage */
}



  #boutonSkin {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width : 15%;
    height : 5%;
    top: 70%;
  }

  #boutonSon {
    position: absolute;
    top : 5%;
    right : 20%;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width : 5%;
    height : 6%;
  }

  #boutonSon img
  {
    width: 100%;
  }

  #boutonSkin img{
    width: 50px;
    height: 20px;

  }

  .TitreJeu {
    text-transform: uppercase;
    font-size: calc(12px + 2vw);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ff5c00;
    font-family: 'Arial Black', sans-serif;
    /*animation: shake 0.5s infinite alternate; /* Animation (exemple : secousse) */

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /*bottom: 70%;*/

  }

  .ScoreAffichage img
  {
    width : 100%;
    height: auto;
    margin-top : -5px;
  }

  .NombrePoints
  {
    text-transform: uppercase;
    font-size: 1.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial Black', sans-serif;

    text-align: center;
    margin-top : -5px;
  }

  #ResultatFruit {
    position : absolute;
    top : 5%;
    left : 0;
    width: 20%;
    height: 20%;
  }

  #RecordFruit {
    position : absolute;
    top : 35%;
    left : 0;
    width: 20%;
    height: 20%;
  }

  .ScoreNow
  {
    position: absolute;
    top: 10%;
    left: 50%;

    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial Black', sans-serif;

    text-align: center;
  }

  .HighScoreChiffre
  {
    position: absolute;
    top: 42%;
    left: 50%;

    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial Black', sans-serif;

    text-align: center;
  }

  #ModeDeJeu1
  {
    position:absolute;
    top : 65%;
    left : 10%;
    height:auto;
    width: 8%;
  }

  #ModeDeJeu2
  {
    position:absolute;
    top : 65%;
    left : 30%;
    height:auto;
    width: 8%;
  }

  #ModeDeJeu3
  {
    position:absolute;
    top : 65%;
    left : 55%;
    height:auto;
    width: 8%;
  }

  #ModeDeJeu4
  {
    position:absolute;
    top : 65%;
    left : 75%;
    height:auto;
    width: 8%;
  }


  .easterEgg
  {
    position: absolute;
    width: 10%; /* Ajuste la largeur selon tes besoins */
    height: auto; /* Ajuste la hauteur automatiquement pour garder les proportions */
    cursor: pointer;
    top: 60%;
    left: 45%;
  }

  .easterEgg img {
    width: 100%; /* Utilise un pourcentage pour la largeur */
    height: auto; /* Laisse la hauteur ajustée automatiquement pour garder les proportions */
}



 /* @keyframes shake {
    from { transform: translateX(-200px); }
    to { transform: translateX(200px); }
  }
*/
  .bouton-active {
    box-shadow: 0 0 10px yellow; /* Ombre jaune */
  }
}
