.puissance4_item{
    contain: content style;
    .undefined{
        /* Fond composé de lignes blanches et noires */
        background: linear-gradient(45deg, black, black, white 10%, white, black 40%, black, white 60%, white , black 90%);
        background-size: 1em 1em;
    }

    /** TEAMS */
    .red{
        --team-color: red;
        --team-color-alt: #b55050;
    }

    .blue{
        --team-color: blue;
        --team-color-alt: #565681;
    }

    .green{
        --team-color: green;
        --team-color-alt: #516f51;
    }

    .yellow{
        --team-color: yellow;
        --team-color-alt: #8b8b50;
    }

    .purple{
        --team-color: purple;
        --team-color-alt: #6f516f;
    }

    /* ITEMS */
    .coin{
        background-image: url(../assets/coin.png);
        background-size: cover;
        background-color: var(--team-color, gray);
        background-blend-mode: multiply;
        border-radius: 50%;
    }
    .coin.activated{
        animation: activated 0.5s infinite alternate;
    }

    .spawner{
        position: relative;
        &::before{
            position: absolute;
            z-index: 1;
            content: "";
            display: block;
            margin-left: -10%;
            margin-top: -10%;
            height: 120%;
            width: 120%;
            background-image: url(../assets/spawner.png);
            image-rendering: pixelated;
            background-size: cover;
            
        }
        >*{
            animation: rotate 1s infinite linear;
        }
    }

    .bocal{
        position: relative;
        &::before{
            position: absolute;
            z-index: 1;
            content: "";
            display: block;
            margin-left: -10%;
            margin-top: -40%;
            height: 145%;
            width: 120%;
            background-image: url(../assets/bocal.png);
            image-rendering: pixelated;
            background-size: cover;
        }
        >*{
            top: 10%;
            left: 10%;
            position: absolute;
            width: 80% !important;
            height: 80% !important;
        }
    }

    /* holding characters */
    .moblin, .link, .goomba, .lynel, .octorok, .pacman, .snake, .snake_body, .mouse{
        position: relative;
        image-rendering: pixelated;
        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background-color: var(--team-color, var(--team-default,white));
            background-blend-mode: multiply;
            mask-image: var(--image);
            mask-size: cover;
            background-image: var(--image);
            image-rendering: pixelated;
            background-size: cover;
        }
        >*{
            position: absolute;
            z-index: 1;
            top:-60%;
            transform: scale(0.6);
        }
    }

    .pacman{
        --image: url(../assets/pacman2.gif);
        --team-default: gold;
    }

    .goomba{
        margin-left: -10%;
        margin-top: -10%;
        height: 120%;
        width: 120%;
        --image: url(../assets/goomba.webp);
    }

    .mouse{
        margin-left: -10%;
        margin-top: -10%;
        height: 120%;
        width: 120%;
        --image: url(../assets/mouse/cursor.png);
        &.pointer{ --image: url(../assets/mouse/pointer.png); }
        &.grabbed{ --image: url(../assets/mouse/grabbed.png); }
        &.grabber{ --image: url(../assets/mouse/grab.png); }
        &.waiter{ --image: url(../assets/mouse/wait.png); }
        &.mover{ --image: url(../assets/mouse/move.png); }
        z-index: 1;
        >*{
            z-index: 0;
            top: -20%;
            left: 0;
            transform: scale(0.9);
        }
    }

    .lynel{
        margin-left: -20%;
        margin-top: -20%;
        height: 140%;
        width: 140%;
        --image: url(../assets/linel.png);
        &._attack::before{
            z-index: 1;
            position: absolute;
            top: -100%;
            left: -100%;
            content: "";
            display: block;
            width:300%;
            height: 300%;
            background-image: url(../assets/attack.png);
            background-size: cover;
            image-rendering: pixelated;
            animation: rotate 0.5s infinite linear;
        }
        &._life2{
            filter: hue-rotate(40deg);
        }
        &._life3{
            filter: hue-rotate(160deg);
        }
        &._life4{
            filter: hue-rotate(260deg);
        }
        &._life5{
            filter: grayscale(1) contrast(1.5);
        }
        &._life6{
            filter: contrast(1.5) hue-rotate(-20deg) !important;
            scale: 1.5;
        }
    }

    .link{
        margin-left: -10%;
        margin-top: -10%;
        height: 130%;
        width: 110%;
        --image: url(../assets/link.png);
        &._attack{
            height: 180%;
            --image: url(../assets/link_attack.png);
        }
    }

    .moblin{
        margin-left: -10%;
        margin-top: -10%;
        height: 120%;
        width: 110%;
        --image: url(../assets/moblin.gif);
    }

    .octorok{
        margin-left: -5%;
        margin-top: -5%;
        height: 110%;
        width: 110%;
        --image: url(../assets/octorok.png);
        &::after{
            z-index: 1;
        }
        &._shooting{
            --image: url(../assets/octorok_shooting.png);
        }
        >*{
            position: absolute;
            top:40%;
            transform: scale(0.7);
        }
    }
    
    .player{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            display: block;
            margin-left: -10%;
            margin-top: -10%;
            height: 165%;
            width: 120%;
            background-image: url(../assets/canon.png);
            background-size: cover;
            background-color: var(--team-color, gray);
            background-blend-mode: multiply;
            mask: url(../assets/canon.png);
            mask-size: cover;
        }
    }

    .player.loading{
        background-color: var(--team-color-alt, black);
        animation: tired 0.5s infinite alternate ease-in-out;
    }

    .snake{
        --image: url(../assets/meca_snake_head.png);
        --team-default: rgb(94, 137, 73);
        &::after{
            margin-left: -10%;
            margin-top: -10%;
            height: 165%;
            width: 120%;
        }
        >*{
            inset: 0;
            z-index: 0;
            transform: none;
        }
    }

    .snake_body{
        --image: url(../assets/meca_snake_body.png);
        --team-default: rgb(94, 137, 73);
    }

    /* simple textureds */
    .fruit, .wall, .platform, .brokable_platform, .falling_platform, 
    .bubble{
        image-rendering: pixelated;
        background-size: cover;
    }

    .platform{
        background-image: url(../assets/platform.png);
    }
    
    .wall{
        position: relative;
        background-image: url(../assets/stone.png);
        height: 180%;
        width: 150%;
        margin: -25%;
    }

    .brokable_platform{
        background-image: url(../assets/brokable.png);
    }

    .falling_platform{
        background-image: url(../assets/falling.png);
        animation: shake 0.2s;
    }

    .fruit{
        background-image: url(../assets/apple.png);
    }

    .bubble{
        background-image: url(../assets/bubble.png);
        animation: charging 1s infinite alternate ease-in-out;
    }

    .tnt{
        background-image: url(../assets/tnt.png);
        animation: charging 0.3s infinite alternate ease-in-out;
        image-rendering: pixelated;
        background-size: cover;
    }
    
    .piston{
        background-image: url(../assets/piston.png);
        image-rendering: pixelated;
        background-size: cover;
        &.top{
            animation: piston-top 0.5s infinite alternate, ease-out;
        }
        &.right{
            animation: piston-right 0.5s infinite alternate, ease-out;
        }
        &.bottom{
            animation: piston-bottom 0.5s infinite alternate, ease-out;
        }
        &.left{
            animation: piston-left 0.5s infinite alternate, ease-out;
        }
    }

    .pipe, .shooting_pipe{
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../assets/pipe.png);
            image-rendering: pixelated;
            background-size: cover;
        }
    }

    .shooting_pipe{
        &::before{
            animation: tang 0.4s infinite alternate ease-in-out;
        }
    }

    

    .roller{
        background-color: black;
        border-radius: 30%;
        &::after{
            content:"";
            position: relative;
            top:25%;
            left: 25%;
            display: block;
            background-color: gray;
            height: 50%;
            width: 50%;
        }
        &.right{
            animation: rotate 1s infinite linear;
        }
        &.left{
            animation: rotate 1s infinite linear reverse;
        }
    }
    .wind{
        height: 150%;
        width: 20%;
        margin-left: 40%;
        margin-top: -25%;
        background-color: gray;
        animation: rotate 0.5s infinite linear;
    }

    .meteor{
        position: relative;
        &::after{
            content: "";
            display: block;
            position: absolute;
            left: -50%;
            top: -50%;
            background-image: url(../assets/fire.png);
            background-size: cover;
            height: 200%;
            width: 200%;
            animation: rotate 1s infinite linear;
            mix-blend-mode: hard-light;
        }
    }

    .pair{
        position: relative;
        *:first-child{
            position: absolute;
            scale: 0.5;
            translate: 0 -25%;
        }
        *:last-child{
            position: absolute;
            scale: 0.5;
            translate: 0 25%;
        }
    }

    .triple{
        position: relative;
        *:nth-child(1){
            position: absolute;
            scale: 0.4;
            translate: 0 -35%;
        }
        *:nth-child(2){
            position: absolute;
            scale: 0.4;
        }
        *:nth-child(3){
            position: absolute;
            scale: 0.4;
            translate: 0 35%;
        }
    }

    /* cookies */
    .candy{
        background-size: cover;
        image-rendering: pixelated;
        height: 120%;
        margin-top: -10%;
        &._color1{ background-image: url(../assets/candy/1.png); }
        &._color2{ background-image: url(../assets/candy/2.png); }
        &._color3{ background-image: url(../assets/candy/3.png); }
        &._color4{ background-image: url(../assets/candy/4.png); }
    }

    .tetris{
        background-image: url(../assets/tetris.png);
        background-size: cover;
        background-color: var(--team-color, gray);
        background-blend-mode: multiply;
        mask: url(../assets/tetris.png);
        mask-size: cover;
        image-rendering: pixelated;
    }

    /* states */
    .moving{
        opacity: 0.7;
    }

    .slippy::after{
        content: "";
        display: block;
        background-image: url(../assets/slippy.png);
        animation: back-move 1s infinite linear;
        height: 100%;
        width: 100%;
        background-size: 100% 90%;
    }

    .cancelled{
        filter: grayscale(50%);
    }

    /* COMMON */
    .pipe, .snake, .shooting_pipe, .link, .pacman, .pair, .triple, .octorok{
        &.top{
            rotate: 180deg;
        }
        &.right{
            rotate: -90deg;
        }
        &.bottom{
        }
        &.left{
            rotate: 90deg;
        }
    }

    .lynel, .moblin{
        &.right{
            rotate: 15deg;
        }
        &.left{
            rotate: -15deg;
        }
    }
}

/* ANIMATIONS */
@keyframes back-move{
    0%{
        background-position-y: 0%;
    }
    100%{
        background-position-y: 900%;
    }

}

@keyframes piston-right {
    0%{ transform: translateX(0) rotate(90deg); }
    100%{transform: translateX(25%) rotate(90deg); } 
}

@keyframes piston-bottom {
    0%{ transform: translateY(0) rotate(180deg); }
    100%{transform: translateY(25%) rotate(180deg); } 
}

@keyframes piston-left {
    0%{ transform: translateX(0) rotate(-90deg); }
    100%{transform: translateX(-25%) rotate(-90deg); } 
}

@keyframes piston-top {
    0%{ transform: translateY(0); }
    100%{transform: translateY(-25%); } 
}

@keyframes activated{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
        filter: blur(0.1em);
    }
}

@keyframes tang{
    0%{
        rotate: -20deg;
    }
    100%{
        rotate: 20deg;
    }
}

@keyframes shake{
    0%{
        translate: 0 0;
    }
    25%{
        translate: 0.2em 0;
    }
    50%{
        translate: 0 0;
    }
    75%{
        translate: -0.2em 0;
    }
    100%{
        translate: 0 0;
    }
}

@keyframes charging{
    0%{
        scale: 0.95;
    }
    100%{
        scale: 1.05;
    }
}

@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes tired{
    0%{
        scale: 1 1;
    }
    100%{
        scale: 1 0.8;
    }
}